@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.axis-label {
	fill: #939598;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected {
	fill: black;
}

.selected-sticky {
	fill: black;
}